body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #000;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.project {
    background: #eee;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
}